
<!DOCTYPE html>
<!--<html manifest="offline.appcache"> -->
<html>
	<head>
		<base href="https://parsecloudcode-jhcc-admin.c9.io/Live/public/" target="_blank">
		
		<title>JHCC</title>
		<meta http-equiv="Content-Type" 		content="text/html; charset=utf-8">
		<meta name="viewport" 					content="width=device-width, initial-scale=1.0">
		<meta name="mobile-web-app-capable" 	content="yes">
		<meta name="description" 				content="A Road Construction Company.">
		<meta name="HandheldFriendly" 			content="True">
		<meta name="MobileOptimized" 			content="320">
		
		<!--<link rel="manifest" 						href="manifest.json">-->
		<link rel="icon" 		type="image/ico" 	href="favicon.ico">
		<link rel="icon" 		sizes="196x196" 	href="/static/img/icon/196.png">
		<link rel="icon" 		sizes="128x128" 	href="/static/img/icon/128.png">
		<link rel="icon" 		sizes="42x42" 		href="/static/img/icon/42.png">
	
		<!-- EXTERNAL CSS -->
		<link rel="stylesheet" 	media="all" 		href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/simplex/bootstrap.min.css">
		<!--<link rel="stylesheet" 	media="screen" 		href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cerulean/bootstrap.min.css">-->
		<link rel="stylesheet" 	media="all" 		href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">
		
		<!-- INTERNAL CSS -->
		<link rel="stylesheet" 	media="screen"		href="/static/css/screen.css">
		<link rel="stylesheet" 	media="screen"		href="/static/css/animate.css">
		<link rel="stylesheet" 	media="screen"		href="/static/css/vendor.css">
		<link rel="stylesheet" 	media="print"		href="/static/css/print.css">
		<link rel="stylesheet" 	media="screen"		href="/vendor/xeditable.css">
		<link rel="stylesheet" 	media="screen"		href="/vendor/wow.css">
		
		
		<!--[if !IE]> -->
		<script type="text/javascript" src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>
		<script src="https://www.promisejs.org/polyfills/promise-7.0.1.min.js"></script>
		<!-- <![endif]-->
		
		<!-- STARTING JS FILES -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-touch.min.js"></script>
		
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>  <!--Allows us to dynamically load js-->
		<script type="text/javascript" src="//cdn.firebase.com/js/client/1.0.21/firebase.js"></script>  <!--Allows us to get realtime data-->
		<script type="text/javascript" src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>  <!--Allows us to authenticate, and use the parse database-->
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> <!-- Styling -->
	</head>
	
	
	
	<body ng-swipe-left="tools.side.swipe('left')"  ng-swipe-right="tools.side.swipe('right')" ng-controller="SiteCtrl">
		<header ng-include="'static/header.html'"></header>
		<section class="view {{status}}" id="{{view}}" ng-view>Loading Awesomeness...</section>
		<footer ng-include="'static/footer.html'"></footer>
		<div class="noprint alerts">
			<div class="alert alert-{{alert.type}}" ng-repeat="alert in alerts">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="tools.alert.dismiss(alert)"><span aria-hidden="true">&times;</span></button>
				<span>{{alert.message}}</span>
			</div>
		</div>
		
		<script type="text/javascript" src="/vendor/xeditable.js"></script><!--Nice inline edits-->
		<script type="text/javascript" src="/vendor/textangular.min.js"></script><!--Nice inline edits-->
		<script type="text/javascript" src="/vendor/textangular-sanitize.min.js"></script><!--Nice inline edits-->
		<script type="text/javascript" src="/vendor/textangular-rangy.min.js"></script><!--Nice inline edits-->
		
		<script type="text/javascript" src="//www.google.com/jsapi"></script> <!--Allows us to make visualizations-->
		<script type="text/javascript" src="/app/app.js"></script>
		<script type="text/javascript" src="/app/config.js"></script>
		<script type="text/javascript" src="/app/custom.js"></script>
		<script type="text/javascript" src="/app/directives.js"></script>
		<script type="text/javascript" src="/app/services.js"></script>
		<script type="text/javascript" src="/app/controllers.js"></script>
		
		<script type="text/javascript" src="/vendor/dragable.js"></script><!--Drag n Drop-->
		<script type="text/javascript" src="/vendor/chance.js"></script><!--Random Testing Information-->
		
		<script type="text/javascript" src="//apis.google.com/js/client:platform.js?onload=letsBegin"></script> <!--Allows us to authenticate through Google-->
		<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true&libraries=geometry,drawing"></script> <!--Allows us to draw maps-->
		<script type="text/javascript" src="//js.stripe.com/v2/"></script>  <!--Payments-->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.js"></script><!--Time-->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/wow/1.0.3/wow.min.js"></script><!--Animation-->
	</body>
</html>
