<div class="well">
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Item</th>
			<th>Assignment</th>
			<th>Location</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in hardware">
			<th>{{$index}}</th>
			<td><a href="#/it/distribution/{{item.objectId}}?v=itemDetailView">{{item.title}}</a></td>
			<td><a ng-click="tools.show.employee(item.employe)">{{item.employee.fullName}}</a></td>
			<td><a ng-click="tools.show.location(item.location)">{{item.location.title}}</a></td>
			<td>{{item.details}}</td> <!--More details, such as notes, comments, etc. could go here.-->
		</tr>
		<tr>
			<td colspan="5">
				<a ng-click="tools.hardware.add()" class="btn btn-info">Add New Hardware</a>
				<a ng-click="tools.software.add()" class="btn btn-info">Add New Software</a>
			</td>
		</tr>
	</tbody>
</table>
</div>