<div class="row" ng-init="tools.contract.init()">
	<div class="col-md-3">
		<div class="list-group">
			<a class="list-group-item active">Existing Contracts</a>
			<li class="list-group-item" ng-repeat="contract in contracts">
				<a ng-click="tools.contract.set(contract)">{{contract.name}}</a>
				<a class="btn btn-danger btn-xs pull-right" ng-click="tools.contract.remove(contract)" ng-show="user.is('Admin')"><i class="fa fa-trash"></i></a>
			</li>
			<a class="list-group-item list-group-item-info" ng-click="tools.contract.create()">Create New contract</a>
		</div>
	</div>
	<div class="col-md-9">
		<div class="well" ng-show="contract">
			<h1>Contract</h1>
			<form class="form-horizontal" ng-submit="tools.contract.save(contract)">
				<div class="form-group">
					<label for="contractName" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="contractName" ng-model="contract.name">
					</div>
				</div>
				<div class="form-group">
					<label for="contractPo" class="col-sm-2 control-label">PO</label>
					<div class="col-sm-10">
						<input type="tel" class="form-control" id="contractPo" ng-model="contract.po">
					</div>
				</div>
				<div class="form-group">
					<label for="companyType" class="col-sm-2 control-label">Receipt Type</label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="contract.type" ng-options="type for type in contractTypes"></select>
					</div>
				</div>
				<div class="well">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-2"><b>Material</b></div>
						<div class="col-md-2"><b>Quantity</b></div>
						<div class="col-md-2"><b>Price / Ton</b></div>
						<div class="col-md-2"><b>Haul / Ton</b></div>
						<div class="col-md-2"><b>Total / Ton</b></div>
					</div>
					<div class="form-group" ng-repeat="material in contract.materials">
						<label class="col-sm-2 control-label">Material {{$index+1}}</label>
						<div class="col-sm-2">
							<select class="form-control" ng-model="material.ref" ng-options="material as material.name for material in materials" ng-blur="tools.contract.calculate(material)"></select>
						</div>
						<div class="col-sm-2">
							<div class="input-group">
								<input type="number" step="any" class="form-control" placeholder="Quantity (Tons)" ng-model="material.quantity">
		     					<div class="input-group-addon">Tons</div>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="input-group">
		     					<div class="input-group-addon">$</div>
								<input type="number" step="any" class="form-control" placeholder="Price Per Ton" ng-model="material.price">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="input-group">
		     					<div class="input-group-addon">$</div>
								<input type="number" step="any" class="form-control" placeholder="Haul Per Ton" ng-model="material.haulPrice">
							</div>
						</div>
						<div class="col-sm-2">
							{{(material.price + material.haulPrice) | currency}}
						</div>
						<div class="col-sm-1">
							<a class="btn btn-default" ng-hide="material.delivered" ng-click="tools.contract.removeMaterial(material)"><i class="fa fa-trash"></i></a>
						</div>
					</div>
					<div class="col-sm-offset-2 col-sm-10">
						<a class="btn btn-info btn-block" ng-click="tools.contract.addMaterial()">Add Material To Contract</a>
					</div>
				</div>
				<div class="form-group">
					<label for="contractCustomer" class="col-sm-2 control-label">Customer Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="contractCustomer" ng-model="contract.customer">
					</div>
				</div>
				<div class="form-group">
					<label for="contractPhone" class="col-sm-2 control-label">Phone</label>
					<div class="col-sm-10">
						<input type="tel" class="form-control" id="contractPhone" ng-model="contract.phone">
					</div>
				</div>
				<div class="form-group">
					<label for="contractEmail" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="contractEmail" ng-model="contract.email">
					</div>
				</div>
				<div class="form-group">
					<label for="contractAddress" class="col-sm-2 control-label">Deliver To</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="contractAddress" ng-model="contract.address" placeholder="Address"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="contractNotes" class="col-sm-2 control-label">Notes</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="contractNotes" ng-model="contract.notes"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-6 col-md-6">
						<button type="submit" class="btn btn-success btn-block">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>