<div class="row" ng-init="tools.material.init()">
	<div class="col-md-3">
		<div class="list-group">
			<a class="list-group-item active">Existing Materials</a>
			<li class="list-group-item" ng-repeat="material in materials">
				<a ng-click="tools.material.set(material)">{{material.name}}</a>
				<a class="btn btn-danger btn-xs pull-right" ng-click="tools.material.remove(material)" ng-show="user.is('Admin')"><i class="fa fa-trash"></i></a>
			</li>
			<a class="list-group-item list-group-item-info" ng-click="tools.material.create()">Create New material</a>
			<a class="list-group-item list-group-item-info" href="#/admin/tables/ScaleMaterials">Bulk Load Material</a>
		</div>
	</div>
	
	<div class="col-md-9">
		<div class="well" ng-show="material">
			<h1>Material</h1>
			<form class="form-horizontal" ng-submit="tools.material.save(material)">
				<div class="form-group">
					<label for="materialName" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="materialName" ng-model="material.name">
					</div>
				</div>
				<div class="form-group">
					<label for="materialDescription" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="materialDescription" placeholder="Description" ng-model="material.description"></textarea>
					</div>
				</div>
				<div class="well">
					<div class="form-group" ng-repeat="mix in material.mix">
						<label class="col-sm-2 control-label">Mix Material</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="mix.ref" ng-options="material as material.name for material in materials"></select>
						</div>
						<div class="col-sm-4">
							<input type="text" class="form-control" placeholder="Mix Percent" ng-model="mix.percent">
						</div>
					</div>
					<div class="col-sm-offset-2 col-sm-10">
						<a class="btn btn-info btn-block" ng-click="tools.material.addMix()">Add Mix Material</a>
					</div>
				</div>
				<!--<div class="form-group">-->
				<!--	<label for="materialQuantity" class="col-sm-2 control-label">Quantity (yd3)</label>-->
				<!--	<div class="col-sm-10">-->
				<!--		<div class="input-group">-->
				<!--			<input type="number" step="any" class="form-control" id="materialQuantity" ng-model="material.quantity">-->
				<!--			<div class="input-group-addon">Yards</div>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<div class="form-group">
					<label for="materialProduced" class="col-sm-2 control-label" ng-click="smpd = !smpd">Produced <span class="caret"></span></label>
					<div class="col-sm-10">
						<div class="input-group">
							<input type="number" step="any" class="form-control" id="materialProduced" ng-model="material.produced">
							<div class="input-group-addon">Tons</div>
						</div>
						<div ng-show="smpd">
							<p class="help-block">Distributed: {{material.distributed}}</p>
							<p class="help-block">Promised: {{material.distributed}}</p>
							<p class="help-block">Available: {{material.available}}</p>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="materialUnitWeight" class="col-sm-2 control-label">Unit Weight</label>
					<div class="col-sm-10">
						<div class="input-group">
							<input type="number" step="any" class="form-control" id="materialUnitWeight" ng-model="material.unitWeight">
							<div class="input-group-addon">Lbs/Yd3</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="materialRoyalties" class="col-sm-2 control-label">Royalties</label>
					<div class="col-sm-10">
						<div class="input-group">
	     					<div class="input-group-addon">$</div>
							<input type="number" step="any" class="form-control" id="materialRoyalties" ng-model="material.royalties" ng-focus="tools.material.calculate(material)">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="materialPrice" class="col-sm-2 control-label">Price Per Ton</label>
					<div class="col-sm-10">
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input type="number" step="any" class="form-control" id="materialPrice" ng-model="material.price" ng-focus="tools.material.calculate(material)">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="materialPrice" class="col-sm-2 control-label">Publish To Website</label>
					<div class="col-sm-10">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="material.public">
							</label>
						</div>
					</div>
				</div>
				<div class="well">
					<div media-manager="tools.material.setPic" class="media-manager" parent="material">
						<div ng-hide="material.img" class="thumbnail fit">Material Picture</div>
						<img ng-show="material.img" class="thumbnail fit" 
						ng-class="material.img.class" 
						ng-src="{{material.img.src}}" 
						title="{{material.img.name}}">
						<span class="clearfix" ng-show="material.img.temp">
							Uploading picture... This may take a while.
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-6 col-md-6">
						<button type="submit" class="btn btn-success btn-block">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>