<div class="container receipt" ng-init="tools.receipt.init()">
	<div class="well">
		<div class="row">
			<div class="col-xs-3 col-md-2">
				<img src="/static/images/logo.jpg" class="px150"></img>
			</div>
			<div class="col-xs-6 col-md-8">
				<h1>{{config.company.name}}</h1>
				<h2>{{config.company.address1}} {{config.company.address2}}</h2>
				<h2>Phone: {{config.company.phone}}</h2>
			</div>
			<div class="col-xs-3 col-md-2">
				<p>Ticket: {{receipt.sequence}}
				<br>{{receipt.reference}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="well tag">
					<h1>Haul From:</h1>
					<h4>Thunder Run Quarry</h4>
					<!--<h5>{{receipt.contract.phone}}</h5>-->
					<h5>504 Dark Canyon Rd.</h5>
					<h5>Carlsbad NM, 88220</h5>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="well tag">
					<h1>Hauled By:</h1>
					<h4>{{receipt.company.name}}</h4>
					<h5>{{receipt.summary.driver}}</h5>
					<h5>{{receipt.company.address}}</h5>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="well tag">
					<h1>Haul To:</h1>
					<h4>{{receipt.contract.customer}}</h4>
					<h5>Phone: {{receipt.contract.phone}}</h5>
					<h5>{{receipt.contract.address}}</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table noline table-striped">
					<tbody>
						<tr>
							<th style="width:22%;">Job ID: </th>
							<td style="width:28%;">{{receipt.contract.po}}</td>
							<th style="width:22%;">Gross: </th>
							<td style="width:28%;">{{receipt.summary.gross/2000 | number:2}} Tons</td>
						</tr>
						<tr>
							<th>Vehicle ID: </th>
							<td>{{receipt.vehicle.vId}}</td>
							<th>Tare: </th>
							<td>{{receipt.summary.tare/2000 | number:2}} Tons</td>
						</tr>
						<tr>
							<th>Material: </th>
							<td><b>{{receipt.material.name}}</b></td>
							<th>Net: </th>
							<td><b>{{receipt.summary.net/2000 | number:2}} Tons</b></td>
						</tr>
						<tr>
							<th>Price: </th>
							<td></td>
							<th>Driver On Scale: </th>
							<td><b>{{receipt.summary.driverOnScale}}</b></td>
						</tr>
						<tr>
							<td colspan="4"></td>
						</tr>
						<tr>
							<th>Deputy Weighmaster: </th>
							<td>{{receipt.summary.scaleDeputy}}</td>
							<th>Received By: </th>
							<th></th>
						</tr>
						<tr class="underline">
							<th>Signature: </th>
							<td><img class="signature" ng-src="{{receipt.summary.signature}}"></td>
							<th>Signature: </th>
							<td></td>
						</tr>
						<tr>
							<td colspan="2"><b>Weighmaster No:</b> {{weighmasterId}}</td>
							<td colspan="2"><b>Date:</b> {{receipt.summary.postDate.format('LLL')}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<a class="btn btn-block btn-xl btn-warning noprint" ng-click="tools.receipt.clear()" ng-show="!rp.id">New Ticket</a>
</div>
<div class="container receipt noscreen">
	<div class="well">
		<div class="row">
			<div class="col-xs-3 col-md-2">
				<img src="/static/images/logo.jpg" class="px150"></img>
			</div>
			<div class="col-xs-6 col-md-8">
				<h1>{{config.company.name}}</h1>
				<h2>{{config.company.address1}} {{config.company.address2}}</h2>
				<h2>Phone: {{config.company.phone}}</h2>
			</div>
			<div class="col-xs-3 col-md-2">
				<p>Ticket: {{receipt.sequence}}
				<br>{{receipt.reference}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="well tag">
					<h1>Haul From:</h1>
					<h4>Thunder Run Quarry</h4>
					<!--<h5>{{receipt.contract.phone}}</h5>-->
					<h5>504 Dark Canyon Rd.</h5>
					<h5>Carlsbad NM, 88220</h5>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="well tag">
					<h1>Hauled By:</h1>
					<h4>{{receipt.company.name}}</h4>
					<h5>{{receipt.summary.driver}}</h5>
					<h5>{{receipt.company.address}}</h5>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="well tag">
					<h1>Haul To:</h1>
					<h4>{{receipt.contract.customer}}</h4>
					<h5>Phone: {{receipt.contract.phone}}</h5>
					<h5>{{receipt.contract.address}}</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table noline table-striped">
					<tbody>
						<tr>
							<th style="width:22%;">Job ID: </th>
							<td style="width:28%;">{{receipt.contract.po}}</td>
							<th style="width:22%;">Gross: </th>
							<td style="width:28%;">{{receipt.summary.gross/2000 | number:2}} Tons</td>
						</tr>
						<tr>
							<th>Vehicle ID: </th>
							<td>{{receipt.vehicle.vId}}</td>
							<th>Tare: </th>
							<td>{{receipt.summary.tare/2000 | number:2}} Tons</td>
						</tr>
						<tr>
							<th>Material: </th>
							<td><b>{{receipt.material.name}}</b></td>
							<th>Net: </th>
							<td><b>{{receipt.summary.net/2000 | number:2}} Tons</b></td>
						</tr>
						<tr>
							<th>Price: </th>
							<td></td>
							<th>Driver On Scale: </th>
							<td><b>{{receipt.summary.driverOnScale}}</b></td>
						</tr>
						<tr>
							<td colspan="4"></td>
						</tr>
						<tr>
							<th>Deputy Weighmaster: </th>
							<td>{{receipt.summary.scaleDeputy}}</td>
							<th>Received By: </th>
							<th></th>
						</tr>
						<tr class="underline">
							<th>Signature: </th>
							<td><img class="signature" ng-src="{{receipt.summary.signature}}"></td>
							<th>Signature: </th>
							<td></td>
						</tr>
						<tr>
							<td colspan="2"><b>Weighmaster No:</b> {{weighmasterId}}</td>
							<td colspan="2"><b>Date:</b> {{receipt.summary.postDate.format('LLL')}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<a class="btn btn-block btn-xl btn-warning noprint" ng-click="tools.receipt.clear()" ng-show="!rp.id">New Ticket</a>
</div>
<div class="container receipt noscreen">
	<div class="well">
		<div class="row">
			<div class="col-xs-3 col-md-2">
				<img src="/static/images/logo.jpg" class="px150"></img>
			</div>
			<div class="col-xs-6 col-md-8">
				<h1>{{config.company.name}}</h1>
				<h2>{{config.company.address1}} {{config.company.address2}}</h2>
				<h2>Phone: {{config.company.phone}}</h2>
			</div>
			<div class="col-xs-3 col-md-2">
				<p>Ticket: {{receipt.sequence}}
				<br>{{receipt.reference}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="well tag">
					<h1>Haul From:</h1>
					<h4>Thunder Run Quarry</h4>
					<!--<h5>{{receipt.contract.phone}}</h5>-->
					<h5>504 Dark Canyon Rd.</h5>
					<h5>Carlsbad NM, 88220</h5>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="well tag">
					<h1>Hauled By:</h1>
					<h4>{{receipt.company.name}}</h4>
					<h5>{{receipt.summary.driver}}</h5>
					<h5>{{receipt.company.address}}</h5>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="well tag">
					<h1>Haul To:</h1>
					<h4>{{receipt.contract.customer}}</h4>
					<h5>Phone: {{receipt.contract.phone}}</h5>
					<h5>{{receipt.contract.address}}</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table noline table-striped">
					<tbody>
						<tr>
							<th style="width:22%;">Job ID: </th>
							<td style="width:28%;">{{receipt.contract.po}}</td>
							<th style="width:22%;">Gross: </th>
							<td style="width:28%;">{{receipt.summary.gross/2000 | number:2}} Tons</td>
						</tr>
						<tr>
							<th>Vehicle ID: </th>
							<td>{{receipt.vehicle.vId}}</td>
							<th>Tare: </th>
							<td>{{receipt.summary.tare/2000 | number:2}} Tons</td>
						</tr>
						<tr>
							<th>Material: </th>
							<td><b>{{receipt.material.name}}</b></td>
							<th>Net: </th>
							<td><b>{{receipt.summary.net/2000 | number:2}} Tons</b></td>
						</tr>
						<tr>
							<th>Price: </th>
							<td></td>
							<th>Driver On Scale: </th>
							<td><b>{{receipt.summary.driverOnScale}}</b></td>
						</tr>
						<tr>
							<td colspan="4"></td>
						</tr>
						<tr>
							<th>Deputy Weighmaster: </th>
							<td>{{receipt.summary.scaleDeputy}}</td>
							<th>Received By: </th>
							<th></th>
						</tr>
						<tr class="underline">
							<th>Signature: </th>
							<td><img class="signature" ng-src="{{receipt.summary.signature}}"></td>
							<th>Signature: </th>
							<td></td>
						</tr>
						<tr>
							<td colspan="2"><b>Weighmaster No:</b> {{weighmasterId}}</td>
							<td colspan="2"><b>Date:</b> {{receipt.summary.postDate.format('LLL')}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<a class="btn btn-block btn-xl btn-warning noprint" ng-click="tools.receipt.clear()" ng-show="!rp.id">New Ticket</a>
</div>