<div class="row" ng-init="tools.ticket.init()">
	<div class="col-md-4">
		<div class="well">
			<input type="text" class="form-control" ng-model="ticket.vehicle.vId" placeholder="Vehicle ID" ng-change="tools.ticket.listVehicles()" ng-disabled="ticket.vehicle.objectId">
		</div>
		<div class="well">
			<a class="btn btn-block btn-danger" ng-show="ticket.vehicle.objectId" ng-click="tools.ticket.init()">Cancel</a>
			<div class="row" ng-hide="ticket.vehicle.objectId">
				<div class="col-md-6" ng-repeat="vehicle in ticketVehicles | orderBy:'haul.next'">
					<div class="thumbnail" ng-click="tools.ticket.setVehicle(vehicle)" title="Last Trip Time: {{vehicle.haul.duration.asMinutes()}} minutes.">
						<h5>{{vehicle.vId}}</h5>
						<h7>Return in: {{vehicle.haul.next}} min</h7>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
			<!--
				Options::
				- Add Vehicle
				- Tare Vehicle
				- Weigh Vehicle
				>> All 3 allow person to set contract, material, weight
			-->
		<div class="well clear-fix" ng-show="ticket.vehicle.vId && !(ticketVehicles.length || ticket.vehicle.objectId)">
			<h1>Add Vehicle</h1>
			<form class="form-horizontal" ng-submit="tools.ticket.addVehicle(ticket.vehicle)">
				<div class="form-group">
					<label class="col-sm-2 control-label">Vehicle ID</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="ticket.vehicle.vId">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Tare Weight</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" ng-model="ticket.vehicle.tare" placeholder="Tare Weight">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Driver Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="ticket.vehicle.driver" placeholder="Driver Name">
					</div>
				</div>
				<div class="row" ng-hide="ticket.summary.error">
					<div class="col-md-6">
						<a class="btn btn-danger btn-block" ng-click="tools.ticket.init()">Cancel</a>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-success btn-block">Create Vehicle</button>
					</div>
				</div>
			</form>
		</div>
		
		<div class="well clear-fix" ng-show="ticket.vehicle.objectId && tools.vehicle.needsTare(ticket.vehicle)">
			<h1>Tare Vehicle</h1>
			<div class="alert alert-danger" role="alert">
				<span>{{ticket.vehicle.vId}} needs a new tare weight.</span>
			</div>
			<form class="form-horizontal" ng-submit="tools.vehicle.tare(ticket.vehicle)">
				<div class="form-group">
					<label class="col-sm-2 control-label">Tare Weight</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" ng-model="ticket.vehicle.tare" placeholder="Tare Weight">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Driver Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="ticket.vehicle.driver" placeholder="Driver Name">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<a class="btn btn-danger btn-block" ng-click="tools.ticket.init()" ng-show="ticket.vehicle.objectId">Cancel</a>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-success btn-block">Save Tare</button>
					</div>
				</div>
			</form>
		</div>
		
		<div class="well clear-fix" ng-show="ticket.vehicle.objectId && !tools.vehicle.needsTare(ticket.vehicle)">
			<h1>Create Distribution Ticket</h1>
			<form class="form-horizontal" ng-submit="tools.ticket.save(ticket)">
				<div class="form-group">
					<label class="col-sm-2 control-label">Trucking Company</label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="ticket.company" ng-options="company as company.name for company in companies"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Contract</label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="ticket.contract" ng-options="contract as contract.name for contract in contracts" ng-change="tools.ticket.change('listMaterials',ticket.contract.objectId)"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Material</label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="ticket.material" ng-options="material as material.name for material in ticketMaterials" ng-change="tools.ticket.total()"></select>
					</div>
				</div>
				<div class="form-group">
					<label for="ticketWeight" class="col-sm-2 control-label">Weight</label>
					<div class="col-sm-10">
						<div class="input-group">
						<input type="number" class="form-control" id="ticketWeight" placeholder="Weight (lbs)" ng-model="ticket.weight" ng-change="tools.ticket.total()">
							<div class="input-group-addon">Lbs.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2"></div>
					<div class="col-sm-3">
						<input type="checkbox" id="driverOnScale" ng-model="ticket.summary.driverOnScale"> Driver On Scale
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-4">By submitting, you certify this information to be accurate.</div>
				</div>
				<div ng-show="ticket.vehicle.objectId">
					<table class="table table-hover">
						<tr>
							<th style="width:20%;">Tare Weight</th>	
							<td style="width:80%;">
								<span>{{ticket.vehicle.tare/2000}} tons </span>
								<a class="btn btn-xs btn-warning pull-right" ng-click="tools.vehicle.retare()">Re-Tare</a>
							</td>
						</tr>
						<tr>
							<th>Ticket Total</th>	<td>{{ticket.summary.tons}} tons</td>
						</tr>
						<!--<tr>-->
						<!--	<th>Contract Total</th>	<td>{{ticket.summary.contractTotal | currency}}</td>-->
						<!--</tr>-->
					</table>
				</div>
				
				<div class="alert alert-danger" role="alert" ng-show="ticket.summary.error">{{ticket.summary.error}}</div>
				<div class="alert alert-warning" role="alert" ng-show="ticket.summary.warning">{{ticket.summary.warning}}</div>
				
				<div class="row" ng-show="ticket.summary.tons > 0">
					<div class="col-md-6">
						<a class="btn btn-danger btn-block" ng-click="tools.ticket.init()" ng-show="ticket.vehicle.objectId">Cancel</a>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-success btn-block">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>