<div class="container white" ng-controller="SafetyNotificationsCtrl">
	<div class="row">
		<div class="col-md-3" ng-repeat="file in files">
			<div class="well" ng-click="tools.spreadSheet.load(file.id)">
				<h1>{{file.title}}</h1>
				<img ng-src="{{file.thumbnailLink}}"></img>
			</div>
		</div>
	</div>
	<form class="form-inline" ng-submit="tools.spreadSheet.load(spreadsheetId)">
		<p>Once you create and publish your spreadsheet, you can copy the id and past it below.</p>
		<div class="form-group">
			<input class="form-control" type="text" ng-model="spreadsheetId">
			<input class="btn btn-success" type="submit" value="Load Spreadsheet"/>
		</div>
	</form>
	<hr>
	<form class="form-inline">
		<p>Before you run notifications, you need to set the following columns:</p>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Expiration Date Column" ng-model="data.expires">
			<input class="form-control" type="text" placeholder="Notification Time Column" ng-model="data.notifyBefore">
			<button class="btn btn-info" ng-click="tools.notifications.run(table, columns)">Run Notifications</button>
		</div>
	</form>
	<hr>
	<table class="table table-striped">
		<tr>
			<th ng-class="tools.notifications.colClass(col)" ng-repeat="col in columns" ng-click="tools.notifications.setCols(col)">{{col}}</th>
			<th>Days Remaining</th>
		</tr>
		<tr ng-repeat="row in table track by $index" ng-click="tools.row.focus($index)" class="{{tools.row.eminate($index)}}">
			<td ng-repeat="cell in row track by $index">{{cell}}</td>
			<td>{{tools.row.notifyIn($index)}} Days</td>
		</tr>
	</table>
	<p>{{current}}</p>
</div>