<div class="col-md-3">
	<ul class="list-group">
		<li class="list-group-item active" ng-click="tools.category.focus({})">
			Equipment Categories
		</li>
		<li class="list-group-item" ng-repeat="category in categories" ng-click="tools.category.focus(category)">
			<span class="badge">{{category.equipment.length}}</span> {{category.name}}
		</li>
		<li class="list-group-item">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="temp.categoryName" placeholder="New Category">
				<div class="input-group-addon" ng-click="tools.category.add(temp.categoryName)">Add</div>
			</div>
		</li>
	</ul>
</div>
<div class="col-md-9" ng-hide="category.objectId">
	<div class="well">
		<h1>Vehicles</h1>
		<ul class="list-group">
			<li class="list-group-item"><input type="text" class="form-control" ng-model="search.vId" placeholder="Search"></li>
			<li class="list-group-item" ng-repeat="item in equipment | filter:search | orderBy:'-updatedAt'">
				<a href="#/equipment/history/{{item.objectId}}">{{item.vId}}</a>
				<a class="badge" title="Transfer Equipment" ng-click="tools.equipment.transfer(equipment)"><i class="fa fa-expand"></i></a>
			</li>
		</ul>
	</div>
</div>
<div class="col-md-9" ng-show="category.objectId">
	<div class="well">
		<h1>Category: {{category.name}}</h1>
		<ul class="list-group">
			<li class="list-group-item"><input type="text" class="form-control" ng-model="search.vId" placeholder="Search"></li>
			<li class="list-group-item" ng-repeat="item in category.equipment | filter:search">
				<a href="#/equipment/history/{{item.objectId}}">{{item.vId}}</a>
			</li>
			<form class="list-group-item form-horizontal" ng-submit="tools.equipment.add()">
				<div class="form-group">
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="temp.vId" placeholder="Vehicle ID">
					</div>
					<button type="submit" class="col-sm-2 btn btn-success">Add</button>
				</div>
			</form>
		</ul>
	</div>
</div>