<div class="well" ng-init="tools.equipment.init()">
	<h1>Equipment: {{equip.vId}}</h1>
	<div class="well">
		<h2>History</h2>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				Add Event <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a ng-click="tools.equipment.addEvent('transfer')">Equipment Transfer</a></li>
				<li><a ng-click="tools.equipment.addEvent('note')">Note</a></li>
				<li class="divider"></li>
				<li><a ng-click="tools.equipment.addEvent('custom')">Custom</a></li>
			</ul>
		</div>
		<table class="table table-striped" ng-hide="event.edit">
			<thead>
				<tr>
					<th>Event</th>
					<th>Date</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in equip.history" ng-include="'/modules/equipment/events/'+event.type+'.html'"></tr>
			</tbody>
		</table>
		<a class="btn btn-success pull-right" ng-click="tools.equipment.save(equip)">Save Equipment</a>
	</div>
</div>