<td>Note</td>
<td><a editable-date="event.date">{{ event.date || 'Empty' }}</a></td>
<td ng-show="event.edit">
	<textarea type="text" class="form-control" ng-model="event.notes" placeholder="Notes and Details"></textarea>
</td>
<td ng-hide="event.edit">
	{{event.notes}}
</td>
<td>
	<a class="btn btn-sm btn-success" ng-show="event.edit" ng-click="event.edit=false">	<i class="fa fa-floppy-o"></i></a>
	<a class="btn btn-sm btn-warning" ng-hide="event.edit" ng-click="event.edit=true">	<i class="fa fa-pencil"></i></a>
	<a class="btn btn-sm btn-danger" ng-click="tools.equipment.removeEvent(event)">		<i class="fa fa-trash"></i></a>
</td>