<div class="container" ng-controller="ComFaxCtrl">
	<div class="well">
		<h1 class="wow slideInLeft" data-wow-delay="0.4s">Fax Center</h1>
		<div class="row">
			<div class="col-md-3" ng-repeat="file in files">
				<ul class="list-group">
					<li class="list-group-item active">{{file.suffix}}</li>
					<li class="list-group-item">
						<input type="text" class="form-control" placeholder="File Name" ng-model="file.name">
					</li>
					<li class="list-group-item"><canvas id="pdfview" style="width:100%;">PDF View</canvas></li>
					<li class="list-group-item" ng-hide="file.url"><a class="btn btn-info btn-block" ng-click="tools.file.upload(file)">Upload</a></li>
					<li class="list-group-item" ng-show="file.url"><a class="btn btn-info btn-block" ng-click="tools.file.renderPdf(file)">Preview</a></li>
					<li class="list-group-item" ng-show="file.url"><a class="btn btn-info btn-block" ng-click="tools.file.send(file)">Send</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="well">
					<div media-manager="tools.file.add" class="media-manager wow bounceIn">Add A Document</div>
				</div>
			</div>
		</div>
	</div>
</div>