<div class="row" ng-init="tools.admin.init()">
	<div class="col-md-4">
		<div class="well">
			<h1>Need a new Lock?</h1>
			<a target="_new" href="http://www.masterlock.com/personal-use/product/643D">Buy new padlocks</a>
		</div>
		<div class="well">
			<a class="btn btn-block btn-info" href="#/station">Setup Station</a>
		</div>
	</div>
	<div class="col-md-8">
		<div class="well">
			<ul class="list-group" ng-hide="syncPromises.length">
				<li class="list-group-item active">
					Tickets to Sync
				</li>
				<li class="list-group-item">
					<span class="badge">{{tickets.complete.length}}</span> Completed
				</li>
				<li class="list-group-item">
					<span class="badge">{{tickets.discarded.length}}</span> Discarded
				</li>
				<li class="list-group-item">
					<a class="btn btn-block btn-success" ng-click="tools.admin.sync()">Sync Now!</a>
					<a class="btn btn-block btn-danger" ng-click="tools.admin.clear()">Clear Local Storage</a>
				</li>
			</ul>

			<h1 ng-show="syncPromises.length">Syncing {{syncPromises.length}} ticket(s)</h1>
			
			<div class="alert alert-success" role="alert" ng-show="syncSuccess">{{syncSuccess}}</div>
			<div class="alert alert-danger" role="alert" ng-show="syncError">{{syncError}}</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Status</th>
							<th>Pre Reading</th>
							<th>Post Reading</th>
							<th>Employee ID</th>
							<th>Equipment ID</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="sync in fuelSyncStatus | orderBy:'postReading' " ng-class="{'warning': sync.discarded}">
							<td>{{sync.statusText}}</td>
							<td>{{sync.preReading}}</td>
							<td>{{sync.postReading}}</td>
							<td>{{sync.employeeId}}</td>
							<td>{{sync.equipmentNumber}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
