<div id="wrapper" ng-class="{toggled: hideSidebar}" ng-controller="SafetyGapCtrl">
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="bread">
				<a href="#/">Home</a> /
				<a href="#/safety">Safety</a> /
				<a href="#/safety/gap">GAP</a>
			</li>
			<li>
				<a href="#/safety/gap?v=inspect">Start Inspection</a>
			</li>
			<li>
				<a href="#/safety/gap?v=pending">Open GAPs</a>
			</li>
			<li>
				<a href="#/safety/gap?v=history">Inspection History</a>
			</li>
		</ul>
	</div>
	<!--<div id="sidebar-icon" ng-click="hideSidebar=true" ng-hide="!hideSidebar"><i class="fa fa-bars"></i></div>-->
	<a id="sidebar-close" class="btn btn-inverse wow zoomIn" data-wow-delay=".5s" ng-click="hideSidebar=true"><i class="fa fa-close"></i></a>
	<a id="sidebar-open" class="btn btn-inverse wow zoomIn" data-wow-delay=".5s" ng-click="hideSidebar=false"><i class="fa fa-bars"></i></a>
	<div id="page-content-wrapper">
		<div class="container-fluid" ng-include="tools.url()"></div>
	</div>
</div>