<div class="container" ng-init="tools.inspection.init()">
	<div class="well">
		<h1>GAP Inspection</h1>
		<form class="form-horizontal" ng-submit="tools.inspection.save(gap)">
			<div class="form-group">
				<label for="gapInspector" class="col-sm-2 control-label">Inspector</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="gapInspector" disabled ng-model="gap.inspector.displayName">
				</div>
			</div>
			<div class="form-group">
				<label for="gapInspector" class="col-sm-2 control-label">Auditors</label>
				<div class="col-sm-10">
					<div class="row">
						<div class="col-sm-3" ng-repeat="auditor in gap.auditors">
							<select class="form-control" ng-model="auditor" ng-options="employee.objectId as employee.profile.displayName for employee in employees">
								<option value="">-- Select Auditor --</option>
							</select>
						</div>
						<div class="col-sm-3">
							<a class="btn btn-default btn-block" ng-click="tools.inspection.addAuditor()">Add Auditor</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="gapLocation" class="col-sm-2 control-label">Location</label>
				<div class="col-sm-10">
					<select id="gapLocation" class="form-control" ng-model="gap.location" ng-options="outpost.objectId as outpost.title for outpost in outposts">
						<option value="">-- Choose Location --</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="gapSupervisor" class="col-sm-2 control-label">Supervisor/Foreman</label>
				<div class="col-sm-10">
					<select id="gapSupervisor" class="form-control" ng-model="gap.supervisor" ng-options="employee.objectId as employee.profile.displayName for employee in employees">
						<option value="">-- Supervisor / Forman --</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="gap.walkaround.declined"> Declined Walk Around
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="gap.walkaround.joined"> Joined Walk Around
						</label>
					</div>
				</div>
			</div>
			<hr>
			<div class="panel-group" id="agnAccordian" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default" ng-repeat="violation in gap.violations">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#agnAccordian" href="#collapse{{$index}}" aria-controls="collapse{{$index}}">Violation {{$index+1}}</a>
						</h4>
					</div>
					<div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="form-group">
								<label class="col-sm-2 control-label">Item</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="JH # (or) A Short Description" ng-model="violation.item">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Details / Notes</label>
								<div class="col-sm-10">
									<textarea class="form-control" placeholder="Details" ng-model="violation.details"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><a ng-click="tools.inspection.mshaRef(violation)">Violation CODE</a></label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="CODE" ng-model="violation.msha.code">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Violation Link</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="link" ng-model="violation.msha.link">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Violation Description</label>
								<div class="col-sm-10">
									<textarea class="form-control" placeholder="description" ng-model="violation.msha.description"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="btn btn-block btn-default" ng-click="tools.inspection.addAssignment()">Add Violation</a>
			<div class="row">
				<div class="col-md-6">
					<button type="submit" class="btn btn-success btn-block">Save</button>
				</div>
				<div class="col-md-6">
					<button type="submit" class="btn btn-warning btn-block">Send</button>
				</div>
			</div>
		</form>
	</div>
	<div ng-include="'/modules/safety/gap/mshaModal.html'"></div>
</div>